<% include header %>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h2>Hello <%= name %>.</h2>
      <h2>The date is <%= date %>. The time is <%= time %>.</h2>
      <a href="/bears" class="btn btn-primary">Get Bears</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

    </div>
  </div>
</div>
<% include footer %>
